In [1]:
import numpy as np
import pandas as pd
df1 = pd.read_csv("scoutium_attributes.csv",sep=";")
df2 = pd.read_csv("scoutium_potential_labels.csv",sep=";")
df1.head()

,task_response_id,match_id,evaluator_id,player_id,position_id,analysis_id,attribute_id,attribute_value
0,4915,62935,177676,1361061,2,12818495,4322,56.0
1,4915,62935,177676,1361061,2,12818495,4323,56.0
2,4915,62935,177676,1361061,2,12818495,4324,67.0
3,4915,62935,177676,1361061,2,12818495,4325,56.0
4,4915,62935,177676,1361061,2,12818495,4326,45.0

In [2]:
df2.head()

   task_response_id  match_id  evaluator_id  player_id potential_label
0              4915     62935        177676    1361061         average
1              4915     62935        177676    1361626     highlighted
2              4915     62935        177676    1361858         average
3              4915     62935        177676    1362220     highlighted
4              4915     62935        177676    1364951     highlighted

In [3]:
df=pd.merge(df1,df2,on=["task_response_id", 'match_id', 'evaluator_id', "player_id"]);df.head()

,task_response_id,match_id,evaluator_id,player_id,position_id,analysis_id,attribute_id,attribute_value,potential_label
0,4915,62935,177676,1361061,2,12818495,4322,56.0,average
1,4915,62935,177676,1361061,2,12818495,4323,56.0,average
2,4915,62935,177676,1361061,2,12818495,4324,67.0,average
3,4915,62935,177676,1361061,2,12818495,4325,56.0,average
4,4915,62935,177676,1361061,2,12818495,4326,45.0,average

In [4]:
df=df.loc[~(df["position_id"]==1)]
df=df.loc[~(df["potential_label"]=="below_average")]

In [5]:
a=df.pivot_table(index=["player_id","position_id","potential_label"],columns = "attribute_id",values="attribute_value")

In [6]:
a.reset_index(drop=False)

attribute_id,player_id,position_id,potential_label,4322,4323,4324,4325,4326,4327,4328,...,4352,4353,4354,4355,4356,4357,4407,4408,4423,4426
0,1355710,7,average,50.5,50.5,34.0,50.5,45.0,45.0,45.0,...,56.0,34.0,39.5,50.5,34.0,34.0,56.0,34.0,34.0,56.0
1,1356362,9,average,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
2,1356375,3,average,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
3,1356375,4,average,67.0,78.0,67.0,67.0,67.0,78.0,78.0,...,78.0,67.0,67.0,67.0,56.0,67.0,56.0,67.0,45.0,56.0
4,1356411,9,average,67.0,67.0,78.0,78.0,67.0,67.0,67.0,...,67.0,56.0,67.0,67.0,56.0,67.0,89.0,56.0,67.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,1907347,5,average,67.0,78.0,78.0,56.0,78.0,67.0,78.0,...,67.0,67.0,67.0,67.0,56.0,67.0,78.0,78.0,78.0,56.0
267,1907347,6,average,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0
268,1909532,10,average,56.0,45.0,45.0,45.0,56.0,56.0,56.0,...,45.0,45.0,56.0,34.0,34.0,56.0,34.0,34.0,34.0,23.0
269,1909724,2,highlighted,78.0,78.0,78.0,78.0,78.0,78.0,78.0,...,78.0,78.0,78.0,67.0,67.0,67.0,78.0,78.0,67.0,78.0
270,1909728,7,highlighted,78.0,67.0,67.0,78.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0

In [7]:
a.loc[0]

KeyError: 0

In [8]:
# Öncelikle pivot table oluşturulur
pivot_df = df.pivot_table(index=["player_id", "position_id", "potential_label"], 
                          columns="attribute_id", 
                          values="attribute_value")

# Satır indeksleri resetlenir
pivot_df = pivot_df.reset_index()

# Kolon indeksleri resetlenir
pivot_df.columns.name = None  # attribute_id için kolon ismini kaldır
pivot_df.columns = [str(col) for col in pivot_df.columns]  
pivot_df

,player_id,position_id,potential_label,4322,4323,4324,4325,4326,4327,4328,...,4352,4353,4354,4355,4356,4357,4407,4408,4423,4426
0,1355710,7,average,50.5,50.5,34.0,50.5,45.0,45.0,45.0,...,56.0,34.0,39.5,50.5,34.0,34.0,56.0,34.0,34.0,56.0
1,1356362,9,average,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
2,1356375,3,average,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
3,1356375,4,average,67.0,78.0,67.0,67.0,67.0,78.0,78.0,...,78.0,67.0,67.0,67.0,56.0,67.0,56.0,67.0,45.0,56.0
4,1356411,9,average,67.0,67.0,78.0,78.0,67.0,67.0,67.0,...,67.0,56.0,67.0,67.0,56.0,67.0,89.0,56.0,67.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,1907347,5,average,67.0,78.0,78.0,56.0,78.0,67.0,78.0,...,67.0,67.0,67.0,67.0,56.0,67.0,78.0,78.0,78.0,56.0
267,1907347,6,average,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0
268,1909532,10,average,56.0,45.0,45.0,45.0,56.0,56.0,56.0,...,45.0,45.0,56.0,34.0,34.0,56.0,34.0,34.0,34.0,23.0
269,1909724,2,highlighted,78.0,78.0,78.0,78.0,78.0,78.0,78.0,...,78.0,78.0,78.0,67.0,67.0,67.0,78.0,78.0,67.0,78.0
270,1909728,7,highlighted,78.0,67.0,67.0,78.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0

In [9]:
pivot_df["potential_label"].unique()

array(['average', 'highlighted'], dtype=object)

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
pivot_df["potential_label"] = le.fit_transform(pivot_df["potential_label"])

In [11]:
pivot_df

,player_id,position_id,potential_label,4322,4323,4324,4325,4326,4327,4328,...,4352,4353,4354,4355,4356,4357,4407,4408,4423,4426
0,1355710,7,0,50.5,50.5,34.0,50.5,45.0,45.0,45.0,...,56.0,34.0,39.5,50.5,34.0,34.0,56.0,34.0,34.0,56.0
1,1356362,9,0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
2,1356375,3,0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
3,1356375,4,0,67.0,78.0,67.0,67.0,67.0,78.0,78.0,...,78.0,67.0,67.0,67.0,56.0,67.0,56.0,67.0,45.0,56.0
4,1356411,9,0,67.0,67.0,78.0,78.0,67.0,67.0,67.0,...,67.0,56.0,67.0,67.0,56.0,67.0,89.0,56.0,67.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,1907347,5,0,67.0,78.0,78.0,56.0,78.0,67.0,78.0,...,67.0,67.0,67.0,67.0,56.0,67.0,78.0,78.0,78.0,56.0
267,1907347,6,0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0
268,1909532,10,0,56.0,45.0,45.0,45.0,56.0,56.0,56.0,...,45.0,45.0,56.0,34.0,34.0,56.0,34.0,34.0,34.0,23.0
269,1909724,2,1,78.0,78.0,78.0,78.0,78.0,78.0,78.0,...,78.0,78.0,78.0,67.0,67.0,67.0,78.0,78.0,67.0,78.0
270,1909728,7,1,78.0,67.0,67.0,78.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0

In [12]:
def grab_cols(df):
    num_cols = list(df.select_dtypes(include="number"))
    cat_cols = [col for col in df.columns if col not in num_cols]
    num_but_cat = [col for col in num_cols if df[col].nunique()<10]
    cat_but_car = [col for col in cat_cols if df[col].nunique() >15]
    cat_cols = cat_cols + num_but_cat 
    cat_cols = [col for col in cat_cols if col not in cat_but_car]
    num_cols = [col for col in num_cols if col not in num_but_cat]
    print(f"cat_cols = {len(cat_cols)}")
    print(f"num_cols = {len(num_cols)}")
    print(f"num_but_cat = {len(num_but_cat)}")
    print(f"cat_but_car= {len(cat_but_car)}")
    return cat_cols,num_cols,cat_but_car,num_but_cat

cat_cols,num_cols,cat_but_car,num_but_cat = grab_cols(pivot_df)

cat_cols = 7
num_cols = 30
num_but_cat = 7
cat_but_car= 0

In [13]:
pivot_df[num_cols]

,player_id,4322,4323,4325,4326,4327,4329,4330,4332,4333,...,4349,4350,4351,4353,4354,4355,4356,4407,4408,4426
0,1355710,50.5,50.5,50.5,45.0,45.0,45.0,50.5,56.0,39.5,...,28.5,45.0,50.5,34.0,39.5,50.5,34.0,56.0,34.0,56.0
1,1356362,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,56.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,67.0,78.0
2,1356375,67.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0,...,56.0,56.0,67.0,67.0,78.0,67.0,67.0,67.0,67.0,78.0
3,1356375,67.0,78.0,67.0,67.0,78.0,78.0,56.0,67.0,67.0,...,67.0,67.0,67.0,67.0,67.0,67.0,56.0,56.0,67.0,56.0
4,1356411,67.0,67.0,78.0,67.0,67.0,67.0,89.0,78.0,67.0,...,67.0,56.0,67.0,56.0,67.0,67.0,56.0,89.0,56.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,1907347,67.0,78.0,56.0,78.0,67.0,67.0,56.0,78.0,78.0,...,89.0,67.0,78.0,67.0,67.0,67.0,56.0,78.0,78.0,56.0
267,1907347,67.0,67.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0,...,67.0,67.0,67.0,67.0,78.0,67.0,67.0,67.0,67.0,78.0
268,1909532,56.0,45.0,45.0,56.0,56.0,56.0,23.0,23.0,34.0,...,23.0,34.0,23.0,45.0,56.0,34.0,34.0,34.0,34.0,23.0
269,1909724,78.0,78.0,78.0,78.0,78.0,78.0,67.0,67.0,78.0,...,67.0,78.0,78.0,78.0,78.0,67.0,67.0,78.0,78.0,78.0
270,1909728,78.0,67.0,78.0,67.0,67.0,78.0,67.0,67.0,78.0,...,56.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0,67.0,78.0

In [14]:
pivot_df[cat_cols]

     position_id  potential_label  4324  4328  4352  4357  4423
0              7                0  34.0  45.0  56.0  34.0  34.0
1              9                0  67.0  67.0  67.0  67.0  56.0
2              3                0  67.0  67.0  67.0  67.0  56.0
3              4                0  67.0  78.0  78.0  67.0  45.0
4              9                0  78.0  67.0  67.0  67.0  67.0
..           ...              ...   ...   ...   ...   ...   ...
266            5                0  78.0  78.0  67.0  67.0  78.0
267            6                0  67.0  67.0  67.0  67.0  67.0
268           10                0  45.0  56.0  45.0  56.0  34.0
269            2                1  78.0  78.0  78.0  67.0  67.0
270            7                1  67.0  67.0  67.0  67.0  67.0

[271 rows x 7 columns]

In [15]:
player_ids_positions = pivot_df[['player_id','position_id']]
df_model = pivot_df.drop(['player_id','position_id'], axis=1)
df_model

,potential_label,4322,4323,4324,4325,4326,4327,4328,4329,4330,...,4352,4353,4354,4355,4356,4357,4407,4408,4423,4426
0,0,50.5,50.5,34.0,50.5,45.0,45.0,45.0,45.0,50.5,...,56.0,34.0,39.5,50.5,34.0,34.0,56.0,34.0,34.0,56.0
1,0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
2,0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,56.0,78.0
3,0,67.0,78.0,67.0,67.0,67.0,78.0,78.0,78.0,56.0,...,78.0,67.0,67.0,67.0,56.0,67.0,56.0,67.0,45.0,56.0
4,0,67.0,67.0,78.0,78.0,67.0,67.0,67.0,67.0,89.0,...,67.0,56.0,67.0,67.0,56.0,67.0,89.0,56.0,67.0,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,0,67.0,78.0,78.0,56.0,78.0,67.0,78.0,67.0,56.0,...,67.0,67.0,67.0,67.0,56.0,67.0,78.0,78.0,78.0,56.0
267,0,67.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,67.0,67.0,67.0,78.0
268,0,56.0,45.0,45.0,45.0,56.0,56.0,56.0,56.0,23.0,...,45.0,45.0,56.0,34.0,34.0,56.0,34.0,34.0,34.0,23.0
269,1,78.0,78.0,78.0,78.0,78.0,78.0,78.0,78.0,67.0,...,78.0,78.0,78.0,67.0,67.0,67.0,78.0,78.0,67.0,78.0
270,1,78.0,67.0,67.0,78.0,67.0,67.0,67.0,78.0,67.0,...,67.0,67.0,78.0,67.0,67.0,67.0,78.0,67.0,67.0,78.0

In [16]:
X = df_model.drop("potential_label",axis=1)
y = df_model["potential_label"]
from sklearn.preprocessing import StandardScaler
sc = StandardScaler().set_output(transform="pandas")
X = sc.fit_transform(X)
X

,4322,4323,4324,4325,4326,4327,4328,4329,4330,4332,...,4352,4353,4354,4355,4356,4357,4407,4408,4423,4426
0,-0.542606,-0.559398,-1.404764,-0.437916,-0.766602,-0.794802,-0.907351,-0.791605,-0.446324,-0.122619,...,0.012848,-1.281899,-1.132245,-0.494569,-1.234869,-1.519578,-0.142650,-1.487256,-0.955381,-0.252741
1,0.595327,0.560776,0.678677,0.682837,0.722639,0.722929,0.601190,0.404075,0.727985,0.691171,...,0.786581,0.813645,1.052769,0.631718,0.914913,0.768231,0.529664,0.668713,0.403717,1.041611
2,0.595327,0.560776,0.678677,0.682837,0.722639,0.722929,0.601190,1.001915,0.727985,0.691171,...,0.786581,0.813645,1.052769,0.631718,0.914913,0.768231,0.529664,0.668713,0.403717,1.041611
3,0.595327,1.307560,0.678677,0.682837,0.722639,1.481795,1.355461,1.001915,-0.054888,0.691171,...,1.560314,0.813645,0.428479,0.631718,0.198319,0.768231,-0.142650,0.668713,-0.275832,-0.252741
4,0.595327,0.560776,1.373158,1.430006,0.722639,0.722929,0.601190,0.404075,2.293730,1.504961,...,0.786581,0.115130,0.428479,0.631718,0.198319,0.768231,1.874292,-0.049944,1.083267,1.041611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,0.595327,1.307560,1.373158,-0.064332,1.467260,0.722929,1.355461,0.404075,-0.054888,1.504961,...,0.786581,0.813645,0.428479,0.631718,0.198319,0.768231,1.201978,1.387369,1.762816,-0.252741
267,0.595327,0.560776,0.678677,0.682837,0.722639,0.722929,0.601190,1.001915,0.727985,0.691171,...,0.786581,0.813645,1.052769,0.631718,0.914913,0.768231,0.529664,0.668713,1.083267,1.041611
268,-0.163295,-0.932790,-0.710283,-0.811501,-0.021981,-0.035936,-0.153081,-0.193765,-2.403505,-2.563989,...,-0.760885,-0.583384,-0.195810,-1.620856,-1.234869,0.005628,-1.487277,-1.487256,-0.955381,-2.194269
269,1.353950,1.307560,1.373158,1.430006,1.467260,1.481795,1.355461,1.001915,0.727985,0.691171,...,1.560314,1.512160,1.052769,0.631718,0.914913,0.768231,1.201978,1.387369,1.083267,1.041611
270,1.353950,0.560776,0.678677,1.430006,0.722639,0.722929,0.601190,1.001915,0.727985,0.691171,...,0.786581,0.813645,1.052769,0.631718,0.914913,0.768231,1.201978,0.668713,1.083267,1.041611

In [17]:
y.value_counts()

potential_label
0    215
1     56
Name: count, dtype: int64

In [18]:
215/56

3.8392857142857144

In [19]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_validate, GridSearchCV,cross_val_score


rf_params={"max_depth":[3,4,5,6], 
           "min_samples_split":[15,20],
           "n_estimators":[200,300]}

xgb_params = {"booster":["gblinear","gbtree"],
              "n_estimators":[200,300],
              "reg_lambda":[0.02,0.05],
              "reg_alpha":[0.01,0.02]}

lr_params = {'C': [0.01, 0.1, 1, 10],
            'penalty': ['l1', 'l2'],
            "max_iter":[5000,1000]}


classifiers = [("rf",RandomForestClassifier(class_weight='balanced'),rf_params),
               ("xgb",XGBClassifier(objective ="binary:logistic",scale_pos_weight=3.84),xgb_params),
               ("lr",LogisticRegression(solver='liblinear',class_weight='balanced'),lr_params)]

def hyperparameter_optimization(X,y,scoring="roc_auc"):
    print("hyperparameter optimization")
    best_models ={}
    for name,classifier,params in classifiers:
        print(f"##### {name}######")
        cv_results = cross_val_score(classifier,X,y,scoring=scoring,cv=10,n_jobs=-1).mean()
        print(f"{scoring} (Before): {cv_results}")
        
        gs = GridSearchCV(classifier,params,cv=10,scoring=scoring).fit(X,y)
        final_model = classifier.set_params(**gs.best_params_)
        
        cv_results = cross_val_score(final_model,X,y,scoring=scoring,cv=10,n_jobs=-1).mean()
        print(f"{scoring} (After): {cv_results}")
        print(f"{name} best_params: {gs.best_params_}", end="\n\n")
        best_models[name] = final_model
    return best_models
    
best_models = hyperparameter_optimization(X,y,scoring="roc_auc")

hyperparameter optimization
##### rf######
roc_auc (Before): 0.9058513708513708
roc_auc (After): 0.9121717171717172
rf best_params: {'max_depth': 6, 'min_samples_split': 20, 'n_estimators': 300}

##### xgb######
roc_auc (Before): 0.8842207792207792
roc_auc (After): 0.8710389610389611
xgb best_params: {'booster': 'gbtree', 'n_estimators': 300, 'reg_alpha': 0.01, 'reg_lambda': 0.05}

##### lr######
roc_auc (Before): 0.8414285714285714
roc_auc (After): 0.8467604617604618
lr best_params: {'C': 1, 'max_iter': 5000, 'penalty': 'l1'}

In [20]:
from sklearn.ensemble import VotingClassifier
def voting_classifier(best_models,X,y):
    voting_clf=VotingClassifier(estimators = [("lr",best_models["lr"]),
                                            ("rf",best_models["rf"]),
                                            ("xg",best_models["xgb"])],
                              voting='soft',
                            weights=[1,1,1])
    cv_results = cross_validate(voting_clf,X,y,cv=10,scoring=["accuracy","roc_auc","recall"])
    print(f"accuracy: {cv_results['test_accuracy'].mean()}")
    print(f"recall: {cv_results['test_recall'].mean()}")
    print(f"roc_auc: {cv_results['test_roc_auc'].mean()}")
    return voting_clf
  
voting_clf = voting_classifier(best_models,X,y)

accuracy: 0.8636243386243386
recall: 0.6633333333333333
roc_auc: 0.9077056277056277

In [21]:
cv_results = cross_validate(best_models["rf"],X,y,cv=10,scoring=["accuracy","roc_auc","recall"])
print(f"accuracy: {cv_results['test_accuracy'].mean()}")
print(f"recall: {cv_results['test_recall'].mean()}")
print(f"roc_auc: {cv_results['test_roc_auc'].mean()}")

accuracy: 0.8451058201058201
recall: 0.6333333333333333
roc_auc: 0.9121717171717172

In [22]:
import xgboost as xgb
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score

# Stratified K-Fold oluşturma (sınıf dağılımını korur)
skf = StratifiedKFold(n_splits=10, shuffle=True, random_state=42)

# Metrikleri saklamak için boş listeler
accuracies = []
recalls = []
roc_aucs = []

for train_idx, test_idx in skf.split(X, y):
    X_train, X_test = X.iloc[train_idx], X.iloc[test_idx]
    y_train, y_test = y.iloc[train_idx], y.iloc[test_idx]
    
    # scale_pos_weight hesaplama
    ratio = float(y_train.loc[y_train == 0].shape[0]) / y_train.loc[y_train == 1].shape[0]
    
    clf = xgb.XGBClassifier(scale_pos_weight=ratio,booster="gbtree")
    
    # Modeli eğit
    clf.fit(X_train, y_train)
    
    # Test verisi üzerinde tahmin yap
    predictions = clf.predict(X_test)
    probas = clf.predict_proba(X_test)[:,1]
    
    # Metrikleri hesapla
    acc = accuracy_score(y_test, predictions)
    rec = recall_score(y_test, predictions)
    roc_auc = roc_auc_score(y_test, probas)
    
    accuracies.append(acc)
    recalls.append(rec)
    roc_aucs.append(roc_auc)

    print(f"Accuracy: {acc:.4f}, Recall: {rec:.4f}, ROC AUC: {roc_auc:.4f}, ratio: {ratio:.4f}")

# Ortalama metrik değerlerini yazdırma
print("\nAverage Metrics:")
print(f"Accuracy: {sum(accuracies)/len(accuracies):.4f}")
print(f"Recall: {sum(recalls)/len(recalls):.4f}")
print(f"ROC AUC: {sum(roc_aucs)/len(roc_aucs):.4f}")

Accuracy: 0.8214, Recall: 0.5000, ROC AUC: 0.9318, ratio: 3.8600
Accuracy: 0.8889, Recall: 0.6000, ROC AUC: 0.7727, ratio: 3.7843
Accuracy: 0.9259, Recall: 0.8000, ROC AUC: 0.9727, ratio: 3.7843
Accuracy: 0.7778, Recall: 0.4000, ROC AUC: 0.7727, ratio: 3.7843
Accuracy: 0.8519, Recall: 0.8000, ROC AUC: 0.9273, ratio: 3.7843
Accuracy: 0.9259, Recall: 0.6667, ROC AUC: 0.9286, ratio: 3.8800
Accuracy: 0.9259, Recall: 0.8333, ROC AUC: 0.9048, ratio: 3.8800
Accuracy: 0.8889, Recall: 0.5000, ROC AUC: 0.8968, ratio: 3.8800
Accuracy: 0.7407, Recall: 0.3333, ROC AUC: 0.7222, ratio: 3.8800
Accuracy: 0.9259, Recall: 0.8333, ROC AUC: 0.9762, ratio: 3.8800

Average Metrics:
Accuracy: 0.8673
Recall: 0.6267
ROC AUC: 0.8806

In [23]:
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=3)
sm = SMOTE(random_state=42)
X_res, y_res = sm.fit_resample(X_train, y_train)
clf = RandomForestClassifier()
clf.fit(X_res, y_res)
y_pred = clf.predict(X_test)

print("Accuracy: ", accuracy_score(y_test, y_pred))
print("Recall: ", recall_score(y_test, y_pred))
print("ROC AUC: ", roc_auc_score(y_test, y_pred))

Accuracy:  0.8571428571428571
Recall:  0.5555555555555556
ROC AUC:  0.7777777777777778

In [24]:
class_weights = len(y) / (3 * np.bincount(y))
class_weights

array([0.42015504, 1.61309524])

In [25]:
1.61309524 / 0.42015504

3.839285707485504